<div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div class="send-message-form">
      <mat-form-field appearance="fill">
        <mat-label for="message">Message</mat-label>
        <input matInput formControlName="message">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </div>

  </form>
  <div *ngFor="let message of messages">
    <span>{{ message.contenu }}</span>
    <span>{{ message.timestamp | date }}</span>
  </div>
</div>

